@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Gotham-Sub";
  src: url(/fonts/Poppins-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Gotham-Desc";
  src: url(/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Gotham-Bold";
  src: url(/fonts/Poppins-Bold.ttf) format("truetype");
}

body {
  font-family: "Gotham";
}
